### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks

.ipynb_checkpoints
*/.ipynb_checkpoints/*

.pkl
*.pkl

# __pycache__
*/__pycache__/*
__pycache__

# .pth files
*.pth
.pth

# .zip files
*.zip
.zip

# pt files
*.pt
.pt

# .tar files
*.tar
.tar

# image files
*.png
*.jpg
*.jpeg
.png
.jpg
.jpeg

# config
config.py

# .weights(DL model weights)
*.weights

# img_label files
*.json
.json